.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
  display: flex;
  width: 100%;
  min-width: 20rem;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  margin-bottom: 15px;
}

.button {
  margin-top: 15px;
}

.title {
  text-align: center;
}