.inputGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 0.6rem;
  border: none; /* Remove default border */
  border-radius: 20px;
  color: black;
  background-color: lightgray;
  box-shadow: none; /* Remove default box shadow */
  outline: none; /* Remove default outline */
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  -moz-appearance: none; /* Remove default styling in Mozilla browsers */
  appearance: none; /* Remove default styling in other browsers */
}

.eyeIcon {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
