.inputGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.inputWrapper {
  position: relative;
}

.input {
  field-sizing: content;
  font-size: 1rem;
  width: 100%;
  padding: 0.6rem;
  border: none; 
  border-radius: 20px;
  color: black;
  background-color: lightgray;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none; 
}

.eyeIcon {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
