.error {
  color: red;
  margin: 1rem;
  text-align: center;

}

.form {
  width: 100%;
  min-width: 20rem;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1.5rem;
}

.mainContainer {
 
}

