.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
  color: white;
}

.red:hover {
  opacity: 0.6;
}

.transparentWhite {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.transparentWhite:hover {
  opacity: 0.5;
}

.transparentBlack {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.transparentBlack:hover {
  opacity: 0.5;
}

.blue {
  background-color: var(--lightblue100);
  color: white;
}

.blue:hover {
  opacity: 0.7;
}