.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease;
}

.red {
  background-color: red;
  color: white;
}

.red:hover {
  opacity: 0.8;
}

.transparentWhite {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.transparentWhite:hover {
  opacity: 0.5;
}

.transparentBlack {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.transparentBlack:hover {
  opacity: 0.5;
}

.green {
  background-color: green;
  color: white;
}

.green:hover {
  opacity: 0.8;
}
