.mainContainer {
  width: 100%;
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, #57bacb, #e372ed);
}

.centerTitle {
  text-align: center;
}

.buttonContainer {
  margin: 2rem 0 0 0;
}

.installButton {
  margin: 1rem 0 1rem 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.installButton:hover {
  background-color: #005bb5;
}

.infoCard {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 100vw;
  background-color: white;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0;
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start slightly below */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.infoCard.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.5s ease forwards;
}

.infoCard.hidden {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeOutDown 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.cardDescription {
  max-width: 25rem;
}

.cardDescription h2 {
  margin: 0 0 1rem 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100vw;
  height: 100vh; /* Full screen initially */
  padding: 2rem;
  transition: height 0.5s ease, padding 0.5s ease; /* Smooth transition */
}

.hero.shrink {
  height: 3vh; /* Shrink to a smaller height */
  padding: 0; /* Remove padding for a more compact appearance */
}

/* @media (max-width: 768px) {
  .mainContainer {
    justify-content: center;
    background: none;
  }
} */

@media (max-width: 768px) {
  .mainContainer {
    margin: 0 0 5rem 0;
  }

  .infoCard {
    flex-direction: column; /* Stack content vertically */
    gap: 1rem; /* Reduce spacing between elements */
    width: 90%; /* Reduce width to fit within the screen */
    padding: 1rem; /* Adjust padding for smaller screens */
    margin: 1rem 0 1rem 0; /* Center the cards with some margin */
  }

  .infoCard img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .cardDescription {
    text-align: center; /* Center-align text for better readability */
  }

  .cardDescription h2 {
    font-size: 1.5rem; /* Adjust heading size for mobile */
  }

  .cardDescription p {
    font-size: 1rem; /* Adjust paragraph size for mobile */
  }
}