.title {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 0 0;
}

.subtitle {
  padding: 0.5rem 0 1rem;
  text-align: center;
  color: black;
  margin: 0.5rem;
  border-radius: 15px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-shadow: 1.8px 3.7px 3.7px hsla(244, 82%, 22%, 0.44);
    padding: 0 0 1rem 0;
}

/* .container {
    background-image: linear-gradient(
      to right top,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12
    );
    width: 100%;
  } */

  .container {
    /* background-image: linear-gradient(
      to right bottom,
      #b185db,
      #7251b5,
      #9163cb,
      #b185db,
      #7251b5
    );
    width: 100%; */
  }