.title {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 0 0;
}

.subtitle {
  padding: 0.5rem 0 1rem;
  text-align: center;
  color: black;
  margin: 0.5rem;
  border-radius: 15px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-shadow: 1.8px 3.7px 3.7px hsla(0, 0%, 2%, 0.44);
  padding: 0 0 1rem 0;
  background-color: white;
  border-radius: 5px;
  position: relative; /* Add this */
}

.gearIcon {
  cursor: pointer;
  width: auto;
  position: absolute; /* Add this */
  top: 0.5rem; /* Adjust as needed */
  right: 0.5rem; /* Adjust as needed */
}

.gearIcon:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .mainContainer {
    width: 100%;
  }
}
