.carousel {
    display: flex;
    min-width: 100%;
    overflow-x: auto; 
    white-space: nowrap; 
    scroll-snap-type: x mandatory; 
    margin: 1rem 0 0 0;
    padding: .5rem
}

.carousel > * {
    flex: 0 0 auto; 
    scroll-snap-align: start; 
    margin-right: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.voteRequirements {
    margin: 0 0 1rem 0;
    font-weight: bold;
}
