  .mainContainer {
    box-shadow: 1.8px 3.7px 3.7px hsl(0deg 0% 0% / 0.44);
    border-radius: 15px;
    padding: 1rem;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease; 
  }
  
  .videoTitle {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 100%; 
  }
  
  .videoContainer {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  
  .buttonContainer {
    display: flex;
    gap: 0.5rem;
  }

  .userSubmissionMessage {
    font-weight: bold;
    font-style: italic;
    color: gray;
  }