.bubbleMenu {
  position: relative;
  cursor: pointer;
}

.circleButton {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--lightblue100);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  z-index: 3;
}

.circleButton.open {
  transform: rotate(45deg);
}

.options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1;
}

.options.show {
  pointer-events: auto;
}

.option {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #cd3e94;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-weight: bold;
  padding: 1rem;
  transform: translate(0, 0) scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.options.show .option:nth-child(1) {
  transform: translateY(40px) translateX(-70px); /* Removed scale(1) */
  opacity: 1; /* Keep opacity at 1 for visibility */
  transition: transform 0.3s ease, opacity 0.1s ease; /* Adjusted timing */
}

.options.show .option:nth-child(2) {
  transform: translateY(-110px) translateX(-20px); /* Removed scale(1) */
  opacity: 1; /* Keep opacity at 1 for visibility */
  transition: transform 0.3s ease, opacity 0.1s ease; /* Adjusted timing */
}

.options:not(.show) .option {
  transform: translate(0, 0); /* Removed scale(0) */
  opacity: 0; /* Keep opacity for hiding */
  transition: transform 0.3s ease, opacity 0.1s ease; /* Adjusted timing */
}
