.pageContainer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  @media (max-width: 768px) {
    .pageContainer {
      height: 100vh;
    }
  }