.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-height: 88vh;
    margin: 2.5rem 0 8rem 0;
}

.profileHeader {
    margin: 0 0 1rem 0;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 600px;
}

.buttonContainer {
    margin: 0 0 1.5rem 0;
}

.settingsContainer {
    width: 100%;
    max-width: 25rem;
}