.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 4rem;
  width: 300rem;
  max-width: 40%;
}

.dashboardContainer {
  margin-top: 1rem;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.BubbleMenu {
  position: fixed;
  bottom: 7rem; /* Adjust the distance from the bottom */
  right: 1rem; /* Adjust the distance from the right */
  z-index: 1000; /* Ensure it stays above other elements */
}

.welcomeMessage {
  margin: .5rem;
  padding: .5rem;
}

.desktopWelcome {
  display: flex;
}

@media (max-width: 768px) {
  .buttonContainer {
    max-width: 100%;
  }

  .desktopWelcome {
    display: none;
  }
}

@media (min-width: 768px) {
  .dashboardContainer {
    width: 60%;
    margin-top: 1rem;
  }

  .BubbleMenu {
    position: fixed;
    bottom: 7rem; /* Adjust the distance from the bottom */
    right: 4rem; /* Adjust the distance from the right */
    z-index: 1000; /* Ensure it stays above other elements */
  }

  .mobileHeader {
    display: none;
  }
}
