.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
    display: flex;
    gap: .5rem;
    padding: 0.5rem;
    height: 4rem;
    width: 300rem;
    max-width: 40%;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.BubbleMenu {
  position: fixed;
  bottom: 8rem; /* Adjust the distance from the bottom */
  right: 1rem; /* Adjust the distance from the right */
  z-index: 1000; /* Ensure it stays above other elements */
}

@media (max-width: 768px) {
    .buttonContainer {
      max-width: 100%;
    }
  }