.mainContainer {
  width: 100%;
}

.noneLeft {
  color: lightslategray;
  font-style: italic;
}

.legionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 0 5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0 0 0;
}

.createLegionButton {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 15rem;
}

.buttonContainer {
  margin: 1rem;
  width: 70%;
}

@media (max-width: 768px) {
  .contentContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .mainContainer {
    display: flex;
    justify-content: center;
  }

  .legionsContainer {
    width: 60%;
  }

  .mobileHeader {
    display: none;
  }

  .createLegionButton {
    position: fixed;
    bottom: 3rem;
    right: 4rem;
  }
}
