.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.image {
    border-radius: 50%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 1rem;
    width: 20rem;
}

.buttonContainer {
    margin: 1rem;
}

.error {
    text-align: center;
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }

.text {
    font-weight: bold;
    color: var(--navyblue100)
}

.title {
    text-align: center;
    margin-bottom: 1rem;
  }