.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.buttonContainer {
  margin: 1rem;
  width: 20rem;
}

.refreshButton {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.refreshButton:hover {
  opacity: 0.7;
}
